@mixin drag-display-active($name) 
{
    &.drag-display-active--#{$name}
    {
        .drag-display--#{$name}
        {
            display: inherit
        }
    }
}

.object-editor--main
{
    background-color: white;

    grid-area: main;

    .selected-svg-object
    {
        outline: solid 3px blue;
        outline-offset: 5px;
    }

    .drag-display
    {
        > *
        {
            display: none;
        }

    }

    &--svg
    {
        @include drag-display-active(translate);
        @include drag-display-active(scale);
        @include drag-display-active(rotate);
        @include drag-display-active(shear);
    }

}