@import "../global/global";

#svg-import
{
    h1
    {
        color: white;
        text-decoration: underline;
        font-size: 2rem;
        background-color: #6b1329;
        text-align: center;

        padding: 5px 0;
    }

    p
    {
        color: white;
        padding: 5px;

        &:nth-child(odd)
        {
            background-color: #333333;
        }

        &:nth-child(even)
        {
            background-color: #444444;
        }
    }

    body
    {
        background-color: #666666;
    }

    #import-button
    {
        margin: 10px 0 0 calc(50vw - 40px);
        width: 80px;
    }

    #error-output
    {
        color: red;
    }
}
