.sass-cache/
*.css.map
*.sass.map
*.scss.map
html/node_modules/
html/saved/
html/documentation/js-doc-output/
*.css
html/documentation/build/
node_modules
out/
saved/
documentation/build/
user_config/
src/front/core/
src/back/core/
src/test/core/
dev_out/
