#body
{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 3.5rem 2rem 1fr;

    grid-template-areas: 
    "header     header"
    "toolbar    tabs"
    "toolbar    main";
}