#main
{
    --background: #{$s2};
    grid-area: main;

    > li
    {
        display: none;

        height: 100%;

        &#selected-content
        {
            display: inherit;
        }
    }
}