$tab: $light;
$selected-tab: mix($highlight, $s1, 50%);

#tabs
{
    background-color: $s8;
    grid-area: tabs;
    
    display: flex;
    flex-direction: row;
    
    h3
    {
        font-size: 20px;
        color: black;
    }

    li
    {
        list-style: none;
        background-color: $tab;

        padding: 2px 3px;

        margin-right: 5px;
        margin-left: 2px;

        border-radius: 10px 10px 0 0;

        user-select: none;

        &#selected-tab
        {
            background-color: $selected-tab;
            
            h3
            {
                color: white;
            }
        }

        &.dragging
        {
            position: absolute;
            background-color: rgba($color: $tab, $alpha: 0.7);

            &#selected-tab
            {
                 background-color: rgba($color: $selected-tab, $alpha: 0.7);
            }
        }
    }
    
    #tab-pointer
    {
        width: 30px;

        background-color: rgba($color: $tab, $alpha: 0.35);
    }
}
