$tab: $light;
$selected-tab: mix($highlight, $s1, 50%);

#tabs
{
    --background: #{$s8};
    grid-area: tabs;
    
    display: flex;
    flex-direction: row;

    border-bottom: 5px $divider solid;
    
    h3
    {
        font-size: 20px;
        --background: transparent;
    }

    li
    {
        list-style: none;
        --background: #{$tab};

        padding: 2px 3px;

        margin-right: 5px;
        margin-left: 2px;

        border-radius: 10px 10px 0 0;

        user-select: none;

        &#selected-tab
        {
            --background: #{$selected-tab};
            
            h3
            {
                --foreground: #{$light};
            }
        }

        &.dragging
        {
            --background: #{transparentize($tab, 0.3)};
            position: absolute;
            
            &#selected-tab
            {
                --background: #{transparentize($selected-tab, 0.3)};
            }
        }
    }
    
    #tab-pointer
    {
        width: 30px;
        
        //background-color: rgba($color: $tab, $alpha: 0.35);
        --background: #{transparentize($tab, 0.3)};
    }
}
