$list-dark: #666666;
$list-light: #888888;
$dropdown-dark: #555555;
$dropdown-light: #444444;
$dropdown-hover: #8422ca;

#toolbar
{
    background-color: #aa8899;
    grid-area: toolbar;

    h2
    {
        color: white;
        text-transform: uppercase;
        font-size: 1.5rem;

        text-align: center;
        text-decoration: underline;
    }

    h3
    {
        color: white;
        font-size: 1.2rem;
        text-align: center;
        display: inline;
    }

    &--buttons
    {
        display: flex;

        flex-direction: column;

        align-items: center;

        .button
        {
            width: 80%;
            margin: 3px 0;
        }
    }

    &--key-frames, &--animations
    {
        border-top: 5px #554466 solid;
        border-bottom: 5px #554466 solid;

        list-style: none;
        display: flex;
        flex-direction: column;

        li
        {
            //border: 3px darkblue solid;

            display: flex;
            flex-direction: row;

            justify-content: center;
            align-items: center;

            button
            {
                font-size: 1rem;
                text-transform: lowercase;
                border-radius: 0;
            }

            .dropdown--box
            {
                flex-direction: row;

                justify-items: stretch;

                width: 240px;
                transform: translateY(20px);

                > *
                {
                    width: 80px;
                    border: none;

                    color: white;

                    &:nth-child(odd)
                    {
                        background-color: $dropdown-dark;
                    }

                    &:nth-child(even)
                    {
                        background-color: $dropdown-light;
                    }

                    &:hover
                    {
                        background-color: $dropdown-hover;
                    }
                }
            }

            &:nth-child(odd)
            {
                background-color: $list-dark;
            }

            &:nth-child(even)
            {
                background-color: $list-light;
            }
        }
    }

}