*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #EFEFEE;
  color: #000028;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #402840;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

img {
  max-width: 100%;
}

h1 {
  font-family: sans-serif;
  font-size: 1.4rem;
  margin: auto auto;
  color: #ffccee;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.3rem;
  background-color: white;
  border: 2px black solid;
  border-radius: 10px;
  padding: 2px 5px;
}

.button:hover {
  background-color: #bbbbbb;
}

.dropdown--icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
}

.dropdown--box {
  display: none;
}

.dropdown--box--display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}

#body {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 100vh;
  -ms-grid-columns: 240px 1fr;
      grid-template-columns: 240px 1fr;
  -ms-grid-rows: 50px 30px 1fr;
      grid-template-rows: 50px 30px 1fr;
      grid-template-areas: "header     header" "toolbar    tabs" "toolbar    main";
}

#header {
  background-color: #444444;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#toolbar {
  background-color: #aa8899;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: toolbar;
}

#toolbar h2 {
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
}

#toolbar h3 {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  display: inline;
}

#toolbar--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#toolbar--buttons .button {
  width: 80%;
  margin: 3px 0;
}

#toolbar--key-frames, #toolbar--animations {
  border-top: 5px #554466 solid;
  border-bottom: 5px #554466 solid;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#toolbar--key-frames li, #toolbar--animations li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#toolbar--key-frames li button, #toolbar--animations li button {
  font-size: 1rem;
  text-transform: lowercase;
  border-radius: 0;
}

#toolbar--key-frames li .dropdown--box, #toolbar--animations li .dropdown--box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: stretch;
  width: 240px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

#toolbar--key-frames li .dropdown--box > *, #toolbar--animations li .dropdown--box > * {
  width: 80px;
  border: none;
  color: white;
}

#toolbar--key-frames li .dropdown--box > *:nth-child(odd), #toolbar--animations li .dropdown--box > *:nth-child(odd) {
  background-color: #555555;
}

#toolbar--key-frames li .dropdown--box > *:nth-child(even), #toolbar--animations li .dropdown--box > *:nth-child(even) {
  background-color: #444444;
}

#toolbar--key-frames li .dropdown--box > *:hover, #toolbar--animations li .dropdown--box > *:hover {
  background-color: #8422ca;
}

#toolbar--key-frames li:nth-child(odd), #toolbar--animations li:nth-child(odd) {
  background-color: #666666;
}

#toolbar--key-frames li:nth-child(even), #toolbar--animations li:nth-child(even) {
  background-color: #888888;
}

#tabs {
  background-color: #8b5965;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: tabs;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#tabs h3 {
  font-size: 20px;
  color: black;
}

#tabs li {
  list-style: none;
  background-color: white;
  padding: 2px 3px;
  margin-right: 5px;
  margin-left: 2px;
  border-radius: 10px 10px 0 0;
}

#tabs li#selected-tab {
  background-color: #557766;
}

#tabs li#selected-tab h3 {
  color: white;
}

#main {
  background-color: #444444;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: main;
}

#main > li {
  display: none;
}

#main > li#selected-content {
  display: inherit;
}
/*# sourceMappingURL=style.css.map */