:root
{ 
    --foreground: $light;
    --background: $dark;
}

*, *:after, *:before
{
    background-color: $background;
    color: $foreground;
}



h1
{
    font-family: sans-serif;
    font-size: 1.4rem;
    margin: auto auto;
    color: $light;
}