#object-editor--property
{
    background-color: $light-object-editor;

    grid-area: property;

    border-left: 5px $divider-object-editor solid;

    h2
    {
        font-size: 1.5rem;
        font-weight: normal;
        text-decoration: underline solid;
        color: $dark;
    }

    h3
    {
        text-transform: lowercase;
        font-size: 1.25rem;
        color: $dark;
    }

    h4
    {
        font-size: 1.25rem;
        font-weight: normal;
        display: inline;
        color: $dark;
    }

    h5
    {
        font-size: 1rem;
        text-decoration: underline solid;
        color: $dark;
    }

    input
    {
        display: inline;
    }

    .dropdown--box
    {
        flex-direction: row;

        .button
        {
            border-radius: 0;
            width: 70px;
            font-size: 1rem;
            font-weight: normal;
        }
    }

    #object-editor--property--transform-list
    {
        padding: 10px;
        list-style: none;

        border-top: 5px $divider-object-editor solid;
        border-bottom: 5px $divider-object-editor solid;

        li
        {
            border: 2px $dark solid;
            width: 80%;
            padding: 10px;

            margin: 5px 0;

            border-radius: 10px;

            background-color: $light;

            input::-webkit-inner-spin-button, input::-webkit-outer-spin-button
            {
                display: none;
            }
        }
    }
}